/* font loading */
@font-face {
  font-family: 'Futura-Light';
  src: url('./fonts/Futura-Light.woff') format('woff');
}

@font-face {
  font-family: 'Futura-Medium';
  src: url('./fonts/Futura-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Futura-Bold';
  src: url('./fonts/Futura-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter.var.woff2') format('woff2');
}
